@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,700');
html, body {
    height: 100%;
    overflow-x: hidden;
    font-family: 'Open Sans', sans-serif;
}
body {
    color: #fff;
}
h1, h2, h3, h4, h5, h6 {
    font-family: 'Roboto', sans-serif;
}
.logo {
  padding-bottom: 150px;
}
.btn {
    border-radius: 0;
    text-align: center;
    background: #a54348; /* colore sfondo bottone */
    color: #fff;
    padding: 10px 80px;
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 400;
    background-position: 100%;
    background-size: 200% 100%;
}
.btn:hover {
  color: #fff;
  background-color: #7b0d11;
} /* colore font e sfondo del bottone in :hover */

.site-wrapper {
    display: table;
    width: 100%;
    height: 100%;
    min-height: 100%;
}
.site-wrapper-inner {
    display: table-cell;
    vertical-align: top;
}
.cover-container {
    margin-right: auto;
    margin-left: auto;
}
.inner {
    padding: 0;
    position: relative;
}
.site-wrapper {
    position: relative;
    overflow: hidden;
    background: url(Background.jpg) no-repeat;
    background-size: cover;
}
.site-wrapper::before {
    position: absolute;
    content: '';
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: #000;
    opacity: 0.7;
    z-index: 0;
}
.site-wrapper-inner {
    z-index: 10;
    position: relative;
}
@media (min-width: 768px) {
    .site-wrapper-inner {
        vertical-align: middle;
    }
    .cover-container {
        width: 100%;
    }
}
@media (min-width: 1170px) {
    .cover-container {
        width: 1170px;
    }
}

.page-subintro {
  font-weight: 300;
  font-size: 35px;
  margin-top: 0;
  color:#ccc;
  margin-bottom: 40px;
}
.page-intro {
    font-weight: 300;
    font-size: 65px;
    margin-top: 0;
    margin-bottom: 0;
}
.intro-cont p {
    color: #ccc;
    margin-bottom: 20px;
    margin-top: 0;
    line-height: 25px;
    font-weight: 400;
}/* Formattazione testo principale */

.intro-cont p a {
  color: #ccc;
}/* Formattazione link testo principale */

.intro-cont p:last-child {
  margin-bottom: 0;
    margin-top: 60px;
}

::-webkit-input-placeholder {
  color: rgba(255,255,255, 0.5) !important;
  font-size: 14px;
  text-transform: lowercase;
  font-weight: 300;
}

:-moz-placeholder { /* Firefox 18- */
  color: rgba(255,255,255, 0.5) !important;
  font-size: 14px;
  text-transform: lowercase;
  font-weight: 300;
}

::-moz-placeholder { /* Firefox 19+ */
  color: rgba(255,255,255, 0.5) !important;
  font-size: 14px;
  text-transform: lowercase;
  font-weight: 300;
}

:-ms-input-placeholder { /* IE 10+ */
  color: rgba(255,255,255, 0.5) !important;
  font-size: 14px;
  text-transform: lowercase;
  font-weight: 300;
}

::-ms-input-placeholder { /* Edge */
  color: rgba(255,255,255, 0.5) !important;
  font-size: 14px;
  text-transform: lowercase;
  font-weight: 300;
}

:placeholder-shown { /* Standard */
  color: rgba(255,255,255, 0.5) !important;
  font-size: 14px;
  text-transform: lowercase;
  font-weight: 300;
}

@media screen and (max-width: 768px) {
  .cover-container {
    padding: 150px 15px;
  }
  .site-wrapper {
    display: block;
    height: auto;
  }
  .site-wrapper-inner {
    display: block;
  }
  .btn {
    margin-bottom: 30px;
    width: 100% !important;
     display: block !important;
    padding : 10px 0 !important;
  }
}


@media screen and (max-height: 650px)  and (min-width: 768px) {
  .cover-container {
    padding: 150px 0;
  }
}

@media screen and (max-height: 1024px)  and (min-width: 768px) {
  .cover-container {
    padding: 50px 15px 30px;
  }
   .site-wrapper {
    display: table;
    height: 100%;
  }
  .site-wrapper-inner {
    display: table-cell;
  }
}

@media screen and (max-width: 430px) {
  .btn {
    width: 100% !important;
     display: block !important;
    padding : 10px 0 !important;
  }
  .page-intro {
    font-size: 45px;
  }
}
