body{
font-family: ubuntu, "Trebuchet MS", verdana, arial, sans serif;
}


a:link, a:visited {
text-decoration:none;
font-weight:bold;
}
a:hover{
	color:#ffff66;
	}

#contenuto{
	margin: 0 0 0 0;
}
#tagBoxAN {
float:left;
width:700px;
height:320px;
/* background: url(../images/topmenu_bg.png) 0 0 repeat-x; */
background-color:#000033;
margin:10px 0px 0 0;
padding:8 12 12 12;
}

#tagBoxAC {
float:left;
width:500px;
height:180px;
/* background: url(../images/topmenu_bg.png) 0 0 repeat-x; */
background-color:#000033;
margin:10px 0px 0 0;
padding:8 12 12 12;
}

.tabsTagsCloud {  border: 0px dashed; border-color: #FF0000 black #FF9900 #999999; background-color:#000033; background-repeat: repeat; font-family: Verdana, Arial, Helvetica, sans-serif; font-size: xx-small; font-style: normal; font-weight: bold; color: #000000; line-height: normal; text-decoration: none}

.sNameTag {
	font-size:1.2em;
	color:#C0C0C0;
}
.s10Tag {
	font-size: 1.0em;
	color:#8b4513;
	}
	
.s11Tag {
	font-size: 1.1em;
	color:#ffbf7f;
	}

.s12Tag {
	font-size: 1.2em;
	color:#ffd2d2;
	}

.s13Tag {
	font-size: 1.3em;
	color:#ff3919;
	}
.s14Tag {
	font-size: 1.4em;
	color:#ffb64e;
	}

.s15Tag {
	font-size: 1.5em;
	color:#ffd27f;
	}
	
.s16Tag {
	font-size: 1.6em;
	color:#990000;
	}
	
.s17Tag {
	font-size: 1.7em;
	color:#ff7a5a;
	}

.s18Tag {
	font-size: 1.8em;
	color:#cd661c;
	}

.s19Tag {
	font-size: 1.9em;
	color:#993333;
	}
.largestTag {
	font-size: 2.0em;
	color:#ffffff;
	}