.dft {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: xx-small; font-style: normal; font-weight: bold; color: #000000; line-height: normal; white-space: normal; border-top-width: 0px; border-right-width: 0px; border-bottom-width: 0px; border-left-width: 0px}
.dftPulsanti {  font-family: Arial, Helvetica, sans-serif; font-size: large; font-style: normal; line-height: normal; font-weight: 300; color: #666666}
.dftNERO { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: xx-small; font-style: normal; font-weight: bold; color: #000000}
.dftText { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: x-small; font-style: normal; font-weight: normal; color: #000000 }
.dftTextRidotto { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: xx-small; font-style: normal; font-weight: normal; color: #000000 }
.dftTextRidottoGrassetto { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: xx-small; font-style: normal; font-weight: bold; color: #000000 }
.dftTextRidottoFisso { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 7pt; font-style: normal; font-weight: normal; color: #000000 }

.dftHidden {  display:none;}

.dftRicerca { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: xx-small; font-style: normal; font-weight: bold; color: #003300}
.dftRicercaBIG { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: medium; font-style: normal; font-weight: bold; color: #FF0000}
a:hover {  color: #FF0000; text-decoration: none}
a:link {  text-decoration: none}
a:visited {  text-decoration: none}
.dftRicercaMEDIUM { font-family: Arial, Helvetica, sans-serif; font-size: x-small; font-style: italic; font-weight: bold; color: #000000}
.dftBianco {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: xx-small;
	font-style: normal;
	font-weight: bold;
	color: #FFFFFF;
}
.titolo {  font-family: Arial, Helvetica, sans-serif; font-size: x-small; font-style: italic; color: #000000; font-weight: bold}
.tabs {  border: 0px dashed; border-color: #FF0000 black #FF9900 #999999; background-image: url(imm/puntini.gif); background-repeat: repeat; font-family: Verdana, Arial, Helvetica, sans-serif; font-size: xx-small; font-style: normal; font-weight: bold; color: #000000; line-height: normal; text-decoration: none}
.pallino {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: xx-small; color: #FF9900}
.casellatitolo {  background-attachment: fixed; font-size: x-small; text-align: justify; font-family: Verdana, Arial, Helvetica, sans-serif; color: #000000}
.dftTextGrassetto { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: x-small; font-style: normal; font-weight: bold; color: #000000 }
.dftTextRadio { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: x-small; font-style: normal; font-weight: bold; color: #000000 }
.dftButtons { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: small; font-style: normal; font-weight: bold; color: #000000 }
.dftTextGrassettoBig { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: small; font-style: normal; font-weight: bold; color: #000000 }
.dftTextItalic { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: x-small; font-style: italic; font-weight: normal; color: #000000 }
.dftTextItalicRidotto { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: xx-small; font-style: italic; font-weight: normal; color: #000000 }
.dftTextLink { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: x-small; font-style: normal; font-weight: bold; color: #000066; text-decoration: underline}
.dftEnfasi1 {  font-family: Verdana, Arial, Helvetica, sans-serif; font-weight: bold; font-size: x-small; color: #FF9900}
.dftEnfasi2 {  font-family: Verdana, Arial, Helvetica, sans-serif; font-weight: bold; font-size: x-small; color: #663300}
.dftEnfasi3 {  font-family: Verdana, Arial, Helvetica, sans-serif; font-weight: bold; font-size: x-small; color: #663366}
.dftEnfasi4 {  font-family: Verdana, Arial, Helvetica, sans-serif; font-weight: bold; font-size: x-small; color: #FFCC00}
.dftEnfasi5 {  font-family: Verdana, Arial, Helvetica, sans-serif; font-weight: bold; font-size: x-small; color: #CC6600}
.dftEnfasi6 {  font-family: Verdana, Arial, Helvetica, sans-serif; font-weight: bold; font-size: x-small; color: red}
.dftEnfasi {  font-family: Verdana, Arial, Helvetica, sans-serif; font-weight: bold; font-size: medium; color: red; text-align:center}
.dftLink {  font-family: Verdana, Arial, Helvetica, sans-serif; font-weight: bold; font-size: x-small; color: #6D5A52}
.dftTextCode { font-family: Courier, sans-serif; font-size: xx-small; font-style: normal; font-weight: normal; color: #000000 }
.pulsantiSottotitolo {font-family: Arial, Helvetica, sans-serif; font-size: medium; font-style: normal; line-height: normal; font-weight: 300; color: #666666}
.dftTextCella { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: x-small; font-style: normal; font-weight: bold; color: #000000; background-color:#CCCCCC}
.dftTextCellaScura { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: x-small; font-style: normal; font-weight: bold; color: #000000; background-color:#999999}
.tocs {  font-family: Verdana, Arial, Helvetica, sans-serif; font-weight: bold; font-size: x-small; color: #990000}
.dftMoodOn {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 0px; font-style: normal; font-weight: bold; color: #000000; line-height: normal; white-space: normal; border-top-width: 0px; border-right-width: 0px; border-bottom-width: 0px; border-left-width: 0px}

option.mainOption { font-weight : bold; }

ul {
	list-style-type: disc;
	padding: 10px;
	background-color:#FFFFFF;
}
ul li {
	margin-top: 3px;
	margin-bottom: 3px;
	line-height: 16px;
}
#container {
	/*width:350px;
	height:250px;*/
    width:350em;
    height:250em;
	background-color:whitesmoke;
	border:0px;
	display:block;
}
#box {
	/*width:350px;
	height:220px;*/
    width:350em;
    height:220em;
	/*background-color:gold;*/
	/*background-color:#DAB5A4;*/
	background-color:#E2A96F;
	border:1px solid #666666;
	display:none;
	position: relative;
    top: 0px;
}