option.mainOption { font-weight : bold; }

#containerEditor {
	width: 100%;
	height: 100%;
	/*background-color:whitesmoke;*/
	/*border:0px;*/
	display:block;
}
#login {
	width:30%;
	height:8%;
	/*background-color:#E2A96F;*/
	/*border:1px solid grey;*/
	position: relative;
    /*top: 0px;*/
    overflow: scroll;
}
#search {
	width:30%;
	height:92%;
	/*background-color:gold;*/
	/*border:1px solid grey;*/
	top:-10;
	position: relative;
	overflow: scroll;
}
#editor {
	width:70%;
	height:100%;
	/*background-color:grey;*/
	/*border:1px solid grey;*/
	position: relative;
	top:-100.6%;
	left:32%;
	overflow: scroll;
	vertical-align: top;
}  

.success-notice {
    padding-left: 10px;
    padding-right: 10px;
    background-color: #baf2bb;
    color: #049900;
    border: 2px dashed #15a612;
    font-weight: normal;
    font-size: 0.95em;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 10px;
    margin-bottom: 10px;
    cursor: pointer;
}

.error-notice {
    padding-left: 10px;
    padding-right: 10px;
    background-color: #f2baba;
    color: #990000;
    border: 2px dashed #b81616;
    font-weight: normal;
    font-size: 0.95em;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 10px;
    margin-bottom: 10px;
    cursor: pointer;
}


ul {
	list-style-type: disc;
	padding: 10px;
	background-color:#FFFFFF;
}
ul li {
	margin-top: 3px;
	margin-bottom: 3px;
	line-height: 16px;
}
#container {
	width:350px;
	height:250px;
	background-color:whitesmoke;
	border:0px;
	display:block;
}
#box {
	width:350px;
	height:220px;
	/*background-color:gold;*/
	/*background-color:#DAB5A4;*/
	background-color:#E2A96F;
	border:1px solid #666666;
	display:none;
	position: relative;
    top: 0px;
}
#editorContainer {
	width:350px;
	height:150px;
	background-color:whitesmoke;
	border:0px;
	display:block;
	position:relative;
	left:360px;
	top:-30px;
}
#editorBox {
	width:350px;
	height:130px;
	/*background-color:gold;*/
	/*background-color:#DAB5A4;*/
	background-color:#99C68E;
	border:1px solid #254117;
	display:none;
	position: relative;
    top: 0px;
}

.dftUpdateButton {
  background: url('../images/dfte.update.png') left center no-repeat;
  padding-left: 15px;
  height: 200%;
  width: 150%;
  font-size:medium;
  font-weight: bold;
}

.dft {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: xx-small; font-style: normal; font-weight: bold; color: #000000; line-height: normal; white-space: normal; border-top-width: 0px; border-right-width: 0px; border-bottom-width: 0px; border-left-width: 0px}
.dftPulsanti {  font-family: Arial, Helvetica, sans-serif; font-size: medium; font-style: normal; line-height: normal; font-weight: bold; color: #666666}
.dftNERO { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: xx-small; font-style: normal; font-weight: bold; color: #000000}
.dftText { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: x-small; font-style: normal; font-weight: normal; color: #000000 }
.dftTextRidotto { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: xx-small; font-style: normal; font-weight: normal; color: #000000 }
.dftTextRidottoGrassetto { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: xx-small; font-style: normal; font-weight: bold; color: #000000 }
.dftTextRidottoFisso { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 7pt; font-style: normal; font-weight: normal; color: #000000 }

.dftHidden {  display:none;}

.dftRicerca { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: xx-small; font-style: normal; font-weight: bold; color: #003300}
.dftRicercaBIG { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: medium; font-style: normal; font-weight: bold; color: #FF0000}
/*a:hover { color: 493D26; text-decoration: underline;}*/
a:link {  font-family: Verdana, Arial, Helvetica, sans-serif; font-weight: bold; font-size: x-small; 
	color: #C11B17; text-decoration: none;}
a:hover, a:focus {
  text-decoration: underline; }
a:visited {  text-decoration: none}

/*td>a:link {  font-family: Verdana, Arial, Helvetica, sans-serif; font-weight: bold; font-size: x-small; 
	color: white; text-decoration: none;}
td>a:hover { color: green; text-decoration: underline; }
td>a:focus { color: #C11B17; text-decoration: underline; } */

.dftRicercaMEDIUM { font-family: Arial, Helvetica, sans-serif; font-size: x-small; font-style: italic; font-weight: bold; color: #000000}
.dftBianco {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: xx-small;
	font-style: normal;
	font-weight: bold;
	color: #FFFFFF;
}
.titolo {  font-family: Arial, Helvetica, sans-serif; font-size: x-small; font-style: italic; color: #000000; font-weight: bold}
.tabs {  border: 0px dashed; border-color: #FF0000 black #FF9900 #999999; background-image: url(imm/puntini.gif); background-repeat: repeat; font-family: Verdana, Arial, Helvetica, sans-serif; font-size: xx-small; font-style: normal; font-weight: bold; color: #000000; line-height: normal; text-decoration: none}
.pallino {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: xx-small; color: #FF9900}
.casellatitolo {  background-attachment: fixed; font-size: x-small; text-align: justify; font-family: Verdana, Arial, Helvetica, sans-serif; color: #000000}
.dftTextGrassetto { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: x-small; font-style: normal; font-weight: bold; color: #000000 }
.dftTextRadio { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: x-small; font-style: normal; font-weight: bold; color: #000000 }
.dftButtons { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: small; font-style: normal; font-weight: bold; color: #000000 }
.dftTextGrassettoBig { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: small; font-style: normal; font-weight: bold; color: #000000 }
.dftTextItalic { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: x-small; font-style: italic; font-weight: normal; color: #000000 }
.dftTextItalicRidotto { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: xx-small; font-style: italic; font-weight: normal; color: #000000 }
.dftTextLink { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: x-small; font-style: normal; font-weight: bold; color: #000066; text-decoration: underline}
.dftEnfasi1 {  font-family: Verdana, Arial, Helvetica, sans-serif; font-weight: bold; font-size: x-small; color: #FF9900}
.dftEnfasi2 {  font-family: Verdana, Arial, Helvetica, sans-serif; font-weight: bold; font-size: x-small; color: #663300}
.dftEnfasi3 {  font-family: Verdana, Arial, Helvetica, sans-serif; font-weight: bold; font-size: x-small; color: #663366}
.dftEnfasi4 {  font-family: Verdana, Arial, Helvetica, sans-serif; font-weight: bold; font-size: x-small; color: #FFCC00}
.dftEnfasi5 {  font-family: Verdana, Arial, Helvetica, sans-serif; font-weight: bold; font-size: x-small; color: #CC6600}
.dftEnfasi6 {  font-family: Verdana, Arial, Helvetica, sans-serif; font-weight: bold; font-size: x-small; color: red}
.dftCommit {  font-family: Verdana, Arial, Helvetica, sans-serif; font-weight: bold; font-size: medium; color: #990012;}
.dftError {  font-family: Verdana, Arial, Helvetica, sans-serif; font-weight: bold; font-size: small; color: red}
.dftEnfasi {  font-family: Verdana, Arial, Helvetica, sans-serif; font-weight: bold; font-size: medium; color: red; text-align:center}
.dftLink {  font-family: Verdana, Arial, Helvetica, sans-serif; font-weight: bold; font-size: small; color: #C11B17}
.dftTextCode { font-family: Courier, sans-serif; font-size: xx-small; font-style: normal; font-weight: normal; color: #000000 }
.pulsantiSottotitolo {font-family: Arial, Helvetica, sans-serif; font-size: medium; font-style: normal; line-height: normal; font-weight: 300; color: #666666}
.dftTextCella { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: x-small; font-style: normal; font-weight: bold; color: #000000; background-color:#CCCCCC}
.dftTextCellaScura { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: x-small; font-style: normal; font-weight: bold; color: #000000; background-color:#999999}
.tocs {  font-family: Verdana, Arial, Helvetica, sans-serif; font-weight: bold; font-size: x-small; color: #990000}
.dftMoodOn {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 0px; font-style: normal; font-weight: bold; color: #000000; line-height: normal; white-space: normal; border-top-width: 0px; border-right-width: 0px; border-bottom-width: 0px; border-left-width: 0px}
